# Ignore folder .idea
.idea/
.DS_Store

# Skip files
!.idea/codeStyles/
!.idea/inspectionProfiles/

# Other files
.idea/workspace.xml
.idea/vcs.xml
.idea/tasks.xml
.idea/modules.xml

.env

# Front-End
/frontend/node_modules/
/frontend/build/
/frontend/.env

# Back-End
/backend/dist/
/backend/build/
/backend/node_modules/
/backend/.env